<% if pager.count_pages > 1 %>
<div class="pages-container">
  <% (1..pager.count_pages).each do |page| %>
    <%= link_to page.to_s, request.path + "?page=#{page}", class: "link #{pager.page == page ? "-active" : nil}"  %>
  <% end %>
</div>
<% end %>
