<% if notif_status(notif) === "Read" %>
  <div class="border-b p-5 hover:bg-twitterLight cursor-pointer transition duration-900 ease-in-out">
    <%= notif_link(notif) %>
    <div class="status"> Status: <%= notif_status(notif) %></div>
  </div>
<% else %>
  <div class="border-b p-5 bg-twitterLight hover:bg-twitter cursor-pointer transition duration-900 ease-in-out">
    <%= notif_link(notif) %>
    <div class="status"> Status: <%= notif_status(notif) %></div>
  </div>
<% end %>