<div class="header">Notifications</div>
<div class="page">
<% if @pager.fetch_items.any? %>
  <div class="notifs-container">
    <% @pager.fetch_items.map do |notif| %>
      <%= render partial: "notification/notif", locals: {notif: notif} %>
    <% end %>
  </div>
 <%= render partial:'pagination/pages', locals: { pager: @pager} %>
<% end %>
</div>
