<div class="flex flex-col stretch">
  <div class="w-full p-5">
    <p class="font-bold text-lg"><%= "Tweets with #" + @hashtag.name %></p>
    <%= render partial:"twits/table", locals: { pager: @pager} %>
  </div>
</div>