<h1> New Tweet </h1>
<%= form_with scope: :twit, url: user_twits_path(current_user.id), local: true do |form| %>
  <p>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= submit_tag("Twit") %>
  </p>
 
<% end %>
