<h1>Tweets</h1>
<table>
  <tr>
    <th>User</th>
    <th>Tweet</th>
    <th>Action</th>
  </tr>
  <% twits.map do |twit| %>
    <% if twit.class.name == "Twit" %>
      <%= render twit %>
    <% elsif twit.class.name == "Retwit" %>
      <%= render partial:"twits/twit", locals: { twit: twit.twit, retwit: twit } %>
    <% end %>
  <% end %>
</table>
