<h1>Tweets</h1>
<table>
  <tr>
    <th>User</th>
    <th>Tweet</th>
    <th>Action</th>
  </tr>
  <% pager.get_posts.map do |post| %>
    <%= render_twit(post.postable) %>
  <% end %>
</table>
 <%= render partial:'pagination/pages', locals: { pager: pager} %>
