<div class="header">Show Tweet</div>
<div class="page">
   <%= render partial:"twits/twit_reply_to", locals: { twit: @twit } %>
   <% if @twit.replies.exists? %>
      <%= render partial:"twits/replies", locals: { twit: @twit } %>
   <% end %>
</div>
