<h1><%= current_user.username %></h1>
<h2><%= current_user.first_name + " " + current_user.last_name %></h2>
<%= render 'twits/form' %>
<% if @pager.get_items.any? %>
  <%= render partial:'twits/table', locals: { pager: @pager }%>
<% end %>
