<div class="header">Home</div>

<div class="page">
  <%= render partial:'twits/form', locals: { url: user_twits_path(current_user.id) } %>
  <% if @pager.get_items.any? %>
    <%= render partial:'twits/table', locals: { pager: @pager }%>
  <% end %>
</div>
