<h1><%= current_user.username %></h1>
<h2><%= current_user.first_name + " " + current_user.last_name %></h2>
<%= render 'twits/form' %>
<% if @all.any? %>
  <%= render partial:'twits/table', locals: { posts: @all }%>
<% end %>
