@import "variables";
@import "content";
@import "nav";
@import "twit-form";
@import "twit-display";
@import "profile";
@import "notification";
@import "follow";
@import "user-list";
@import "pages";
@import "messages";
@import "devise";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: ms(2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  background: none;
  border: none;
  resize: none;
  font-size: ms(2);

  &:focus {
    outline: none;
  }
}

img {
  max-width: 90%;
}

.profilepic {
  border-radius: 50%;
}

