.content-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 100%;

  .nav-bar {
    order: -1;
    height: 100%;
  }

  .content {
    min-width: 50%;
    height: 100vmax;
    border-left: 1px solid $t-border;
    border-right: 1px solid $t-border;

    .header {
      display: flex;
      width: 100%;
      align-items: center;
      font-weight: bold;
      font-size: ms(3);
      border-bottom: 1px solid $t-border;
      padding: 16px;

      .username {
        margin-right: 4px;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    .page {
      width: 100%;
    }
  }
}
