.auth-container {
  padding: 16px;

  .link {
    color: black;
    text-decoration: underline;
  }
}

.new_user, .edit_user {

  >.field {
    margin-bottom: 8px;
    >.label {
      margin-bottom: 4px;
    }
    >.input {
      padding: 8px;
      border-radius: 8px;
      height: 32px;
      width: 256px;
      border: 1px solid black;
    }
  }

  .actions {
    padding: 0;
  }
}

.auth-button {
  background-color: $t-blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px;
  width: 80px;
  height: 32px;
  margin-bottom: 8px;
}
