.follows-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  >.user {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid $t-border;
    width: 100%;
    align-items: center;
    padding: 16px;

    .button {
      font-size: ms(1);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 32px;
      border-radius: 99px;
  
      &.-follow {
        color: white;
        background-color: $t-blue;
      }
      &.-unfollow {
        background-color: white;
        color: $t-blue;
        border: 1px solid $t-blue;
      }
    }
  }
}

.identity {
  display: flex;
  flex-flow: row wrap;
  font-size: ms(2);
  width: 60%;
  overflow: ellipsis;

  >a {
    >.profilepic {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    >.name {
     color: black;
     margin-right: 4px;
    }

    >.username {
     color: $t-dark;
    }
  } 
}
