.notice {
  padding-left: 16px;
  background-color: $t-blue;
  color: white;
  font-size: ms(1);
  z-index: 100;
}

.alert {
  padding-left: 16px;
  background-color: red;
  color: white;
  font-size: ms(1);
  z-index: 100;
}
