.nav-bar {
  font-size: ms(3);
  width: 20%;
  height: 100%;
 
}
.sticky-nav {
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0; left: 0;

  > .logo {
    color: $t-blue;
  }

  > .item {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 8px;
    border-radius: 10px;
    padding: 8px;

    &:hover {
      background-color: $t-highlight;
      color: $t-blue;
    }
  }
}
