.profile-container {
  padding: 16px;
  border-bottom: 1px solid $t-border;

  > .follows {
    color: $t-dark;
    font-size: ms(1);

    > .links:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

.top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > .info {
    margin-bottom: 8px;

    > .name {
      font-size: ms(3);
    }
    > .username {
      font-size: ms(2);
      color: $t-dark;
    }
  }

  .button {
    font-size: ms(2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 99px;

    &.-follow {
      color: white;
      background-color: $t-blue;
    }
    &.-unfollow {
      background-color: white;
      color: $t-blue;
      border: 1px solid $t-blue;
    }
  }
}
