.twit-form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 16px;
  font-size: ms(2);

  .field {
    width: 100%;

    .input {
      width: 100%;
      height: 48px;

      &:focus {
        border:none;
        border-bottom: 1px solid $t-border;
      }
    }
  }

  .button {
    display: block;
    width: 80px;
    align-self: flex-end;
    color: white;
    height: 40px;
    background-color: $t-blue;
    border-radius: 99px;
  }
}
