.twit-container {
  display: flex;
  flex-flow: column wrap;
  overflow-y: auto;
}

.twit {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid $t-border;

  .retweet {
    font-size: ms(1);
    color: $t-dark;
    margin-bottom: 4px;
  }

  .info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .delete {
      display: flex;
      align-content: center;
      padding-right: 8px;
      justify-content: flex-end;
    }
  }

  .body {
    min-height: 32px;
    font-size: ms(2);

    .mention{
      color: $t-blue;
    }
  }

  .action {
    display: flex;
    flex-flow: row;
    

    .button {
      font-size: ms(1);
      height: 16px;
      color: $t-dark;
      margin: 0 2px;
      text-decoration: underline;

      &:hover {
        color: black;
      }
    }
  }
}

.user {
  display: inline-flex;
  flex-flow: row;

  > .profilepic {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  > .name {
    font-weight: bold;
    margin-right: 4px;
  }

  > .username {
    color: $t-dark;
  }
}

.reply {
  border-top: 4px solid $t-border;
}
