.user-list {
  font-size: ms(3);
  width: 30%;
  height: 100%;
  order: 3;

  .header {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: bold;
    font-size: ms(3);
    border-bottom: 1px solid $t-border;
    padding: 16px;
  }
}

