<table>
  <tr>
    <th>Users</th>
    <th>Action</th>
  </tr>
  <% pager.get_items.map do |user| %>
    <%= render partial: "follow/user", locals: { user: user } %>
  <% end %>
</table>
<%= render partial:'pagination/pages', locals: { pager: pager} %>
