<div class="header"><%= link_to "@" + @user.username + "'s", user_path(@user.id), class: "username" %><%= action %></div>
<div class="page">
  <%= render partial:"follow/table", locals: { pager: @pager }%>
</div>
